* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    background-color: none;
    transition: background-color 1s ease;
}
.body.alt {
    background-color: black;
}

.top {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: solid black;
    border-bottom-style: double;
    border-width: 10px;
    transition: border-color 1s ease;
}

.top.alt {
    border-color: white;
}


.topTitle {
    padding-left: 20px;
    color: black;
    transition: color 1s ease;
}
.topTitle.alt {
    color: white;
}


.buttonContainer {
    padding-right: 20px;
}


.backButton {
    height: 30px;
    width: 70px;
    color: white;
    background-color: black;
    border-style: none;
    border-radius: 2px;
    transition: background-color 1s ease, color 1s ease;
}
.backButton.alt {
    background-color: white;
    color: black;
}


.sun {
    background-color: transparent;
    border: none;
}

.blogSubmissions {
    height: 580px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: solid black 3.5px;
    overflow-y: scroll;
    transition: border-color 1s ease;
}
.blogSubmissions.alt {
    border-color: white;
}


.divided {
    height: 3.5px;
}


.bottom {
    border-top: solid black 3.5px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: border-color 1s ease;
}
.bottom.alt {
    border-color: white;
}


.madeBy {
    display: flex;
    justify-content: center;
    transition: color 1s ease;
}
.madeBy.alt {
    color: white;
}


.bold {
    font-weight: bold;
}


.res {
    padding-bottom: 7px;
}


.personalResources {
    font-style: italic;
    transition: color 1s ease;
}
.personalResources.alt {
    color: white;
}